@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@media (min-width:320px)  {

    * {
        padding: 0;
        border: 0;
        margin: 0;
    }

}




/* INICIO DA VERSÃO DESKTOP */

@media (min-width:961px) {
    #moeda {
        font-size: 3vw;
    }
    #money {
        font-size: 4vw;
    }
  }

/* FIM DA VERSÃO DESKTOP */

