body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#moneyBox {
    display: flex;
    flex-direction: row;
}

#lemonBox {
    border: 1px black solid;
}

#lemon {
    cursor: pointer;
}

#lemonPriceBox {
    display: flex;
    flex-direction: row;
}